{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-auto">
        <h3 class="mt-4">{{ overall_title }}</h3>

        <div class="overall-figure">
            {% if performance_uri is None %}
            {% else %}
            <p>Displays the overall performance of the current watchlist virtual purchases
                from the date purchased to the current date. No transaction fees are shown.
            </p>
            <img class="portfolio-overall-figure" src="/png/{{ performance_uri }}"
                alt="Portfolio virtual performance" />
            {% endif %}
        </div>

        {% if contributors_uri is None %}
        {% else %}
        <h3 class="profit-contributions mt-4">Profit/Loss contributors</h3>

        <div class="contributors-figure">
            <img src="/png/{{ contributors_uri }}" alt="Profit contributors" />
        </div>
        {% endif %}

        <h3 class="mt-4">Virtual purchase profit/loss ($AUD) over time</h3>

        <div class="stock-figure">
            {% if stock_performance_uri is None %}
            {% else %}
            <ul>
            <li>Displays each stock which has been virtually purchased and it's
                contribution towards profit/loss of the overall portfolio over time.
            </li>
            <li>The plot is smoothed data: the actual profits are approximated with a line to be a less cluttered display</li>
            </ul>
            <img class="stock-figure" src="/png/{{ stock_performance_uri }}" alt="Stock virtual performance" />
            {% endif %}
        </div>
    </div>
{% endblock %}
