{% extends "base.html" %}

{% block content %}

{% if watchlist_trends %}
<div class="row">
    <h3>Trends for watched stocks over past 300 days</h3>

    <table style="width: 60%" class="mt-4">
        <tr><th>Stock</th><th>Overall slope</th><th>NRMSE</th><th>30 day slope</th></tr>
        {% for stock, tuple in watchlist_trends.items %}
            <tr class="{{ tuple.3 }}">
                <td>{% clickable_stock stock user=request.user.username next=request.path %}</td>
                <td>{{ tuple.0 |floatformat }}</td>
                <td>{{ tuple.1 |floatformat }}</td>
                <td>{{ tuple.2 }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="row mt-4">
    <h3>{{ trending_companies_plot_title }}</h3>

    <img src="/png/{{ trending_companies_uri }}" />
</div>
{% endif %}

<div class="row mt-4">
    {% include "user-messages.html" %}
</div>
{% endblock %}
