{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    {% include 'stock_information.html' with data=information %}
</div>
<div class="row">
    {% include 'stock_momentum.html' with data=momentum %}
</div>
<div class="row">
    {% include 'stock_fundamentals.html' with data=fundamentals %}
</div>
<div class="row">
    {% include 'stock_sector.html' with data=stock_vs_sector %}
</div>
<div class="row">
    {% include "stock_financial_metrics.html" with data=financial_metrics %}
</div>

{% include "user-messages.html" %}

{% endblock %}