
<div class="mt-4">
    <h3>Information</h3>

    {% if data is None %}
    {% else %}
        <table class="small" style="width: 60%">
            <tr><td>Sector</td><td>{{ data.sector_name }}</td></tr>
            <tr><td>Principal activity</td><td>{{ data.principal_activities }}</td></tr>
            <tr><td>Indices</td><td>{% for i in data.indices %}{{ i|pprint }}{% endfor %}</td></tr>
            <tr><td>Website</td><td>{{ data.web_address|urlize }}</td></tr>
        </table>
    {% endif %}

    {% if data.securities is None %}
        <p>No security information available.</p>
    {% else %}
        <table style="width: 90%">
            <tr class="small">
                <th>ASX code</th>
                <th>Company</th>
                <th>Security code</th>
                <th>Description</th>
                <th>Last updated</th>
            </tr>
        {% for s in data.securities %}
            <tr class="small" style="margin-bottom: 5px">
                <td>{% clickable_stock s.asx_code user=request.user.username next=request.path %}</td>
                <td>{{ s.company_name }}</td>
                <td>{{ s.asx_isin_code }}</td>
                <td>{{ s.security_name }}</td>
                <td>{{ s.last_updated }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</div>

