{% extends "base.html" %}
{% load static %}

{% block searchform %}
<table>
    <tr>
        <td>
            <form action="{{ action_url }}" method="POST" id="WorldBankForm"
                indicator-autocomplete-uri="{% url 'ajax-worldbank-scmm-autocomplete' %}">
                {% csrf_token %}
                {{ form.as_table }}
    <tr>
        <td></td>
        <td><input type="submit" value="Submit"></td>
    </tr>
    </form>
    </td>
    <td>
        <span id="loading"></span>
    </td>
    </tr>
</table>

<!-- IDs below must match form ID's above -->
<script>
    $("#id_topic").on("change", world_bank_ajax_call);
    $("#id_country").on("change", world_bank_ajax_call);

    $(document).ready(world_bank_ajax_call);
</script>
{% endblock %}

{% block content %}
{% if indicator_plot_uri is not None %}
<h4 class="mt-4">{{ indicator_plot_title }}</h4>

<img src="/png/{{ indicator_plot_uri }}" alt="Indicator plot">

<table>
    <tr>
        <th>Tag</th>
        <th>Organisation</th>
        <th>Source note</th>
    </tr>
    {% for i in indicator_plot_datasets %}
    <tr>
        <td>{{ i.wb_id }}</td>
        <td class="small padded">{{ i.source_organisation |urlize }}</td>
        <td class="small padded">{{ i.source_note |urlize }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}